body{
  background-image: url(/casino.jpg);
}



.table-responsive {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .table-responsive div {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
  
  }
  .table-responsive img {
    width: 150px;
    height: 150px;
    align-items:center;
    object-fit: cover;
    object-position: top center;
  }

  .husu{
    width: 33%;
    height: 30px;
    background-color: brown;
    font-size: x-large;
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style: normal;
    float: left;
    margin-top:20px ;
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .husu{
    font-size: large;
  }
  .table-responsive img {
    width: 40px;
    height: 40px;
}
.table-responsive div {
  width: 40px;
  height: 40px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .husu{
    font-size: larger;
  }
  .table-responsive img {
    width: 55px;
    height: 55px;
}
.table-responsive div {
  width: 55px;
  height: 55px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .husu{
    font-size:larger;
  }
  .table-responsive img {
    width: 70px;
    height: 70px;
}
.table-responsive div {
  width: 70px;
  height: 70px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .husu{
    font-size: x-large;
  }
  .table-responsive img {
    width: 90px;
    height: 90px;
}
.table-responsive div {
  width: 90px;
  height: 90px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .husu{
    font-size: x-large;
  }
  .table-responsive img {
    width:120px;
    height:120px;
}
.table-responsive div {
  width: 120px;
  height: 120px;
}
}
